@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles for the body */
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f4f6; /* Light gray background */
}

/* Custom styles (if needed) */